@import "~style/common.styl"

.grid .card
  padding 1rem
  margin 2%
  flex 1 16%
  background-color $shark
  border-radius 5px
  color $silver
  cursor pointer
  box-shadow 0 1px 5px 1px rgba(0, 0, 0, 0.33)
  will-change background-color
  transition background-color .1s ease-in-out

  &:hover
    background-color $grey_bright

  .name
    text-align center
    font-weight 100