td
  background $white
  padding .5rem
  text-align left
  vertical-align middle
  font-weight 300
  font-size .9rem
  text-shadow -1px -1px 1px rgba(0, 0, 0, 0.1)
  border-right 1px solid $ghost

  &:last-child
    border-right: 0px

  &.text-left
    text-align left

  &.text-center
    text-align center

  &.text-right
    text-align right