@import "~style/common.styl"

#modal-overlay
  position fixed
  top 0
  left 0
  z-index 1
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.5)
  opacity 0
  pointer-events none

  &.open
    opacity 1
    pointer-events auto

#modal
  position absolute
  z-index 2
  margin auto
  left 0
  right 0
  top 0
  bottom 0
  width 400px
  max-width 80%
  height 600px
  max-height 80%
  background-color $shark
  color $white
  border-radius 5px
  box-shadow 0 5px 10px 2px rgba(0, 0, 0, 0.33)
  overflow hidden

  h1
    font-weight $thin