$black          = #1F1F21
$grey           = #9ea7af
$grey_light     = #DADADB
$grey_lighter   = #ECECED
$grey_storm     = #666B85
$grey_bright    = #343a45
$white          = #ffffff
$off_white      = #eeeeee
$silver         = #D5DDE5
$shark          = #1b1e24
$ghost          = #C1C3D1
$gallery        = #EBEBEB
$red_error      = #D55D52

// font weights
$thin     = 100
$light    = 300
$regular  = 400
$medium   = 500
$demibold = 600
$bold     = 700

media_queries = {
  sm-mobile: "only screen and (max-width: 320px)",
  mobile: "only screen and (max-width: 768px)",
  tablet: "only screen and (min-width: 768px) and (max-width: 991px)",
  sm-desktop: "only screen and (min-width: 992px) and (max-width: 1200px)",
  desktop: "only screen and (min-width: 1200px)",
  landscape: "screen and (orientation:landscape)"
}