@import "~style/common.styl"

#modal
  .top
    padding 2rem
    width 100%
    background-color $off_white

    h1
      margin 0
      color $shark

  .person-info
    h3
      padding 1rem 2rem
      font-weight $thin

    ul
      li
        padding .5rem 2rem

        &:first-child
          padding 0 2rem .5rem

      li:not(:last-child)
        color $silver
        border-bottom 1px solid #272b34
