.vehicles-table-container
  table
    border-spacing 0

  .header-row
    background-color #666B85

    th
      color #D5DDE5
      background #1b1e24
      border-bottom 4px solid #9ea7af
      border-right 1px solid #343a45
      font-size 1rem
      font-weight 100
      padding .6rem
      text-align left
      text-shadow 0 1px 1px rgba(0, 0, 0, 0.1)
      vertical-align middle

      &:first-child
        border-top-left-radius 5px

      &:last-child
        border-top-right-radius 5px

      &.text-left
        text-align left

      &.text-center
        text-align center

      &.text-right
        text-align right

  tr
    border-top 1px solid #C1C3D1
    border-bottom- 1px solid #C1C3D1
    color#666B85
    font-size16px
    font-weightnormal
    text-shadow 0 1px 1px rgba(256, 256, 256, 0.1)

    &:first-child
      border-top none

    &:last-child
      border-bottom none

    &:nth-child(odd) td
      background #EBEBEB

    &:last-child td:first-child
      border-bottom-left-radius 3px

    &:last-child td:last-child
      border-bottom-right-radius 3px

  td
    background #FFFFFF
    padding .5rem
    text-align left
    vertical-align middle
    font-weight 300
    font-size .9rem
    text-shadow -1px -1px 1px rgba(0, 0, 0, 0.1)
    border-right 1px solid #C1C3D1

    &:last-child
      border-right: 0px

    &.text-left
      text-align left

    &.text-center
      text-align center

    &.text-right
      text-align right